body {
  background-color: #222;
  color: #fff;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
  grid-gap: 15px;
  grid-template-areas: "header header" "sidebar content";
}

.content{
  grid-area: content;
}